{% extends "master.html" %}

{% block title %}
  Listado de Edicios
{% endblock %}

{% block content %}
<h3>Número de Edificios {{ numero_edificios }}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Edificio</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Tipo</th>
      <th>Departamentos</th>
      <th>Opciones</th>
    </tr>
  </thead>

  {% for e in edificios %}
  <tr>
    <td> {{e.nombre}} </td>
    <td> {{e.direccion}} </td>
    <td> {{e.ciudad}}</td>
    <td> {{e.tipo}}</td>
    <td>
      <ul>
        {% for d in e.departamentos.all %}
          <li>
            <span>
              Propietario: {{d.propietario}}<br>
              Costo del departamento: {{d.costo}}<br>
              Número de cuartos: {{d.nro_cuartos}} 
            </span><br>
            [<a href="{% url 'editar_departamento' d.id %}">editar</a>]
          </li>
          <br>
        {% endfor %}
        <hr>
        <li>
          Total de cuartos: {{e.get_nro_cuartos_total}}
        </li>
        <li>
          Costo Total: {{e.get_costo_total}}
        </li>
      </ul>
        [<a href="{% url 'crear_departamento_edificio' e.id%}">+Departamento</a>]
    </td>
    <td> 
      <a href="{% url 'obtener_edificio' e.id %}">ver</a> <br>
      <a href="{% url 'editar_edificio' e.id %}">editar</a> <br>
      <a href="{% url 'eliminar_edificio' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
