<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Propietarios</title>
  </head>
  <body>
    <h5>Listado de propietarios - {{nro_propietarios}}</h5>

    {% for p in propietarios %}

    <ol>
      <li><b>Cedula: </b>{{p['cedula']}}</li>
      <li><b>Nombre: </b>{{p['nombre']}}</li>
      <li><b>Apellido: </b>{{p['apellido']}}</li>
      <li><b>Numero de departamentos: </b>{{p['departamentos']}}</li>
      <li>
        <b>Edificio: </b>
        <ul>
            {% for e in p['edificios'] %}
              <li>{{e}}</li>
            {% endfor%}
        </ul>
    </li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
