<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
  </head>
  <body>
    <h5>Listado de propietarios - {{numero_propietarios}}</h5>

    {% for e in propietarios %}

    <ol>
      <li><b>Cedula: </b>{{e['cedula']}}</li>
      <li><b>Nombre: </b>{{e['nombre']}}</li>
      <li><b>Apellido: </b>{{e['apellido']}}</li>
      <li><b>Numero de departamentos: </b>{{e['departamentos']}}</li>
      <li>
        <b>Edificio: </b>
        <ul>
            {% for e in edificios %}
            <li>e</li>
            {% endfor%}
        </ul>
    </li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
